body {
    background-color: rgba(4, 7, 170, 0.726);
}
 
h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}
 
h2 {
    color: #09008bec;
    border-bottom: 1px solid #02215c88;
}
 
p {
    min-height: 10px;
    max-height: 30px;
    overflow: scroll;
    border: 1px dotted rgba(251, 255, 0, 0.979);
}
 
main {
    box-shadow: 0 0 12px rgba(0, 7, 14, 0.37);
    width: fit-content;
    height: fit-content;
    padding: 0.4rem 1.2rem;
    margin: 2em auto 0;
    border-radius: 1em;
    background-color: rgba(211, 0, 0, 0.76);
    border-top: rgba(25, 152, 226, 0.486) 0.1em solid;
}
